@model  PopCorn.Models.BOXOFFICE
@{
    /**/

    ViewBag.Title = "اتصل بنا";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Scripts/style.css" rel="stylesheet" />
<!-- Container -->
<div class="container py-5">
    <div class="row">

        <div class="col-xl-12">
            <div class="contact-location-info margin-bottom-50">
                <div id="single-job-map-container">
                    <div class="mapouter w-100 h-100 ">
                        <div class="gmap_canvas  w-100 h-100 " style="float:right">
 
                            <br />
                        </div>
                    </div>
                </div>

                <div class="contact-address border-left-0 border-right rounded-0 rounded-right text-right">


                </div>

            </div>
        </div>

        <div class="col-xl-8 col-lg-8 offset-xl-2 offset-lg-2">

            <section id="contact" class="margin-bottom-60 text-right">
                <center>
                    <h3 class="headline margin-top-15 margin-bottom-35">كن على تواصل </h3>
                </center>
                @using (Html.BeginForm("Messages", "FILM"))
                {
                    <form method="post" name="contactform" id="contactform" autocomplete="on">
                        <div class="row">
              
                            <div class="col-md-12">
                                <div class="input-group my-2">
                                    <input class="form-control m-0 text-right" name="Name" type="text" id="Name" placeholder="اسمك" required="required" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2"><i class="icon-material-outline-assignment"></i></span>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div>
                            <textarea class="with-border my-2 text-right" name="Messages" cols="40" rows="5" id="comments" placeholder="رسالتك" spellcheck="true" required="required"></textarea>
                        </div>

                        <input type="submit" class="btn btn-info  button margin-top-15" style="" id="submit" value="ارسال" />

                    </form>
                }
            </section>

        </div>

    </div>
</div>
<!-- Container / End -->
